force-app/main/default/flows/Contact_Auto_Uncheck_Old_Primary_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>현재 순회 중인 연락처의 대표 상태를 해제(False)하고, 위에서 만든 변수(var_ContactsToUpdate)에 담습니다.</description>
        <name>Assign_False_And_Add_To_Collection</name>
        <label>대표 상태 해제 및 업데이트 목록 추가</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Existing_Contacts.Is_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
    </assignments>
    <description>사용자가 수동으로 특정 연락처를 대표(Is_Primary=True)로 지정할 경우, 동일 계정 내의 기존 대표 연락처를 찾아 Is_Primary를 False로 변경(교체)함.</description>
    <environments>Default</environments>
    <interviewLabel>[자동화] 연락처 - 대표자 연락처 변경 시 기존 대표 해제 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[자동화] 연락처 - 대표자 연락처 변경 시 기존 대표 해제</label>
    <loops>
        <description>조회된 연락처 리스트를 하나씩 꺼내어 작업을 수행합니다.</description>
        <name>Loop_Existing_Contacts</name>
        <label>조회된 연락처 순회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Primary_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_False_And_Add_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Unchecked_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>같은 계정의 기존 대표 연락처 조회</description>
        <name>Get_Existing_Primary_Contacts</name>
        <label>같은 계정의 기존 대표 연락처 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Loop가 끝난 후, 변수(var_ContactsToUpdate)에 담긴 연락처들을 데이터베이스에 한 번에 저장합니다.</description>
        <name>Update_Unchecked_Contacts</name>
        <label>해제된 연락처 일괄 업데이트</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_ContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Primary_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
