force-app/main/default/flows/Contract_Activate_Related_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_for_Contracted</name>
        <label>Add to Collection for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAssetToUpdateImmediate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetToUpdateImmediate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_for_Contracted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_for_Occupied</name>
        <label>Add to Collection for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAssetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_for_Occupied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contract_Signer_Id</name>
        <label>Get Contract Signer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_Get_Contract_Signer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines_for_Cleaning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Values_Contracted</name>
        <label>Set Asset Values Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetToUpdateImmediate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_for_Contracted.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetToUpdateImmediate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New_Contract_Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_for_Contracted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Values_for_Occupied</name>
        <label>Set Asset Values for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_for_Occupied.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetToUpdate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetToUpdate.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_for_Occupied</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Space_for_Cleaning</name>
        <label>Check if Space for Cleaning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Lines_for_Cleaning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Space_For_Clean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Lines_for_Cleaning.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>공간</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Move_In_Cleaning_Case</targetReference>
            </connector>
            <label>Is Space For Clean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Family_for_Contracted</name>
        <label>Check Product Family for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines_for_Contracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Space for Update</defaultConnectorLabel>
        <rules>
            <name>Is_Space_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_for_Contracted.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>공간</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Values_Contracted</targetReference>
            </connector>
            <label>Is Space for Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Family_for_Occupied</name>
        <label>Check Product Family for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines_for_Occupied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Space</defaultConnectorLabel>
        <rules>
            <name>Is_Space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_for_Occupied.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>공간</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Values_for_Occupied</targetReference>
            </connector>
            <label>Is Space</label>
        </rules>
    </decisions>
    <decisions>
        <description>계약서 사인한 사람?</description>
        <name>Check_Signer_Found</name>
        <label>Check Signer Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Try_Get_Contact_From_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Signer</defaultConnectorLabel>
        <rules>
            <name>Found_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_Get_Contract_Signer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Signer_Id</targetReference>
            </connector>
            <label>Found Signer</label>
        </rules>
    </decisions>
    <description>트리거(Trigger): Contract 개체의 Status가 서명 완료로 변경되었을 때 실행.
동작 1 (기회 업데이트): 해당 계약과 연결된 상위 Opportunity의 단계를 Closed Won (수주)으로 업데이트.
동작 2 (자산 소유권 이전): 해당 계약에 연결된 모든 Asset 레코드를 찾아서, 자산의 AccountId를 계약의 입주사(Contract.AccountId)로 업데이트.
동작 3 (입주세팅) : 계약일 3일 이전에 입주 청소 Case와 WorkOrder를 생성합니다.</description>
    <environments>Default</environments>
    <formulas>
        <name>formSubject_CleaningCase</name>
        <dataType>String</dataType>
        <expression>&quot;[입주 청소] &quot; &amp; {!Loop_Lines_for_Cleaning.Asset__r.Name} &amp; &quot; 입주 준비&quot;</expression>
    </formulas>
    <formulas>
        <name>formSubject_CleaningWorkOrder</name>
        <dataType>String</dataType>
        <expression>&quot;[작업요청] 입주 청소 - &quot; &amp; {!Loop_Lines_for_Cleaning.Asset__r.Name}</expression>
    </formulas>
    <formulas>
        <name>fromDate_3DaysBeforeMoveIn</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate} -3</expression>
    </formulas>
    <interviewLabel>Contract Activate Related Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[자동화] 계약 - 계약 서명 시 플로우</label>
    <loops>
        <name>Loop_Lines_for_Cleaning</name>
        <label>Loop Lines for Cleaning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Lines_for_Cleaning</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Space_for_Cleaning</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Lines_for_Contracted</name>
        <label>Loop Quote Lines for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Line_Items_for_Contracted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Family_for_Contracted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assets_List_for_Contracted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Lines_for_Occupied</name>
        <label>Loop Quote Lines for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Line_Items_for_Occupied</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Family_for_Occupied</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assets_List_for_Occupied</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>생성된 Case와 연결된 작업 주문(Work Order)을 생성합니다.</description>
        <name>Create_Cleaning_Work_Order</name>
        <label>Create Cleaning Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Lines_for_Cleaning</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Loop_Lines_for_Cleaning.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>$Record.Branch_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Create_Move_In_Cleaning_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fromDate_3DaysBeforeMoveIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubject_CleaningWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Move_In_Setup</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>입주 3일 전, 해당 호실에 대한 청소 요청 Case를 생성합니다.</description>
        <name>Create_Move_In_Cleaning_Case</name>
        <label>Create Move-In Cleaning Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Cleaning_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Loop_Lines_for_Cleaning.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>$Record.Branch_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_Get_Contact_From_Account.var_ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubject_CleaningCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MoveIn</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lines_for_Cleaning</name>
        <label>Get Lines for Cleaning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Try_Get_Contract_Signer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_for_Cleaning.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>청소할 방이 무엇인지 알기 위해, 계약에 연결된 &apos;동기화된 견적&apos; ID를 다시 조회합니다.</description>
        <name>Get_Opp_for_Cleaning</name>
        <label>Get Opp for Cleaning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lines_for_Cleaning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity_for_Contracted</name>
        <label>Get Parent Opportunity for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items_for_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity_for_Occupied</name>
        <label>Get Parent Opportunity for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items_for_Occupied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items_for_Contracted</name>
        <label>Get Quote Line Items for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines_for_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity_for_Contracted.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items_for_Occupied</name>
        <label>Get Quote Line Items for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines_for_Occupied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity_for_Occupied.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_Get_Contract_Signer</name>
        <label>Try Get Contract Signer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Signer_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerSignedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assets_List_for_Contracted</name>
        <label>Update Assets List for Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colAssetToUpdateImmediate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assets_List_for_Occupied</name>
        <label>Update Assets List for Occupied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colAssetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Won</name>
        <label>Update Opportunity to Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Opportunity_for_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>수주</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_Won</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_on_Start_Date</name>
            <connector>
                <targetReference>Get_Parent_Opportunity_for_Occupied</targetReference>
            </connector>
            <label>Run on Start Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>StartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>MoveIn_Preparation</name>
            <connector>
                <targetReference>Get_Opp_for_Cleaning</targetReference>
            </connector>
            <label>MoveIn Preparation</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>StartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Try_Get_Contact_From_Account</name>
        <label>Try Get Contact From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Lines_for_Cleaning</targetReference>
        </connector>
        <flowName>Found_Contact_From_Account</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colAssetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colAssetToUpdateImmediate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varAssetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varAssetToUpdateImmediate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varFinalContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
