force-app/main/default/flows/Contract_Expired_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAssetsToExpire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Values</name>
        <label>Set Asset Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Asset.Home_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Asset.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Move_Out_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Space</defaultConnectorLabel>
        <rules>
            <name>Is_Space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Asset.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>공간</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset_Values</targetReference>
            </connector>
            <label>Is Space</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formDate_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formSubject_MoveOutCase</name>
        <dataType>String</dataType>
        <expression>&quot;[퇴거처리] &quot; &amp; {!Loop_Asset.Name} &amp; &quot; 계약 만료 및 원상복구&quot;</expression>
    </formulas>
    <formulas>
        <name>formSubject_MoveOutWO</name>
        <dataType>String</dataType>
        <expression>&quot;[작업지시] &quot; &amp; {!Loop_Asset.Name} &amp; &quot; 퇴거 청소&quot;</expression>
    </formulas>
    <interviewLabel>Contract Expired Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[자동화] 계약 - 계약 만료 플로우</label>
    <loops>
        <name>Loop_Asset</name>
        <label>Loop Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assets_Linked_to_this_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Expired_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Move_Out_Case</name>
        <label>Create Move-Out Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Move_Out_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_Asset.Home_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Loop_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>Loop_Asset.Home_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Try_Get_Contact_From_Account.var_ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>계약 만료에 따른 자동 퇴거 처리 건입니다.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubject_MoveOutCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Move_Out_Work_Order</name>
        <label>Create Move-Out Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Loop_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>Loop_Asset.Home_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Create_Move_Out_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>formDate_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubject_MoveOutWO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Move_Out_Cleanup</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assets_Linked_to_this_Contract</name>
        <label>Get Assets Linked to this Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Try_Get_Contact_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expired_Assets</name>
        <label>Update Expired Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colAssetsToExpire</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Expire_Process</name>
            <connector>
                <targetReference>Get_Assets_Linked_to_this_Contract</targetReference>
            </connector>
            <label>Expire Process</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Try_Get_Contact_From_Account</name>
        <label>Try Get Contact From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Asset</targetReference>
        </connector>
        <flowName>Found_Contact_From_Account</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <description>업데이트 할 자산들을 담아둘 바구니</description>
        <name>colAssetsToExpire</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
