force-app/main/default/flows/Found_Contact_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Is_Primary_Contact</name>
        <label>Is Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_Get_Primary_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recent_Contact_Found</name>
        <label>Recent Contact Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Try_Get_Recent_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Primary_Found</name>
        <label>대표 연락처 확인</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Try_Get_Recent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary</defaultConnectorLabel>
        <rules>
            <name>Found_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_Get_Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Contact</targetReference>
            </connector>
            <label>Found Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recent_Found</name>
        <label>Check Recent Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Recent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Try_Get_Recent_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recent_Contact_Found</targetReference>
            </connector>
            <label>Found Recent</label>
        </rules>
    </decisions>
    <description>계정에 연결된 연락처를 확인합니다.
1. 대표 연락처를 우선 탐색합니다.
2. 가장 최근 추가된 연락처를 탐색합니다.</description>
    <environments>Default</environments>
    <interviewLabel>[서브플로우] 계정에 연결된 연락처 확인 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[서브플로우] 계정에 연결된 연락처 확인</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Try_Get_Primary_Contact</name>
        <label>대표 연락처 찾기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Try_Get_Recent_Contact</name>
        <label>Try Get Recent Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Recent_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Try_Get_Primary_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>메인 플로우로부터 받을 데이터입니다.</description>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>찾은 Contact 레코드 전체를 담음 (메인 플로우로 돌려줄 데이터입니다.)</description>
        <name>var_ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
