force-app/main/default/flows/Get_Facility_WiFi_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Customer_Info</name>
        <label>고객 정보 가져오기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ChatContextManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Existing_Schedule</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>ChatContextManager</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_AssetId</assignToReference>
            <name>assetId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_Location</assignToReference>
            <name>assetName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_Branch</assignToReference>
            <name>branchName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Busy_Message</name>
        <label>거절 메시지</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>죄송합니다. 해당 시간에는 이미 다른 예약이 잡혀 있습니다. 다른 시간으로 말씀해 주시겠어요?</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Put_Asset</name>
        <label>자산 할당</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Branch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Asset.Home_Branch__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_Contact</name>
        <label>연락처 할당</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Time_Slot_Available</name>
        <label>시간 비어있음?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Busy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busy_Message</targetReference>
            </connector>
            <label>Busy</label>
        </rules>
    </decisions>
    <description>자산(var_AssetId)을 불러오기 전에 로그인 정보(Contact) 먼저 확인하게 지시</description>
    <environments>Default</environments>
    <interviewLabel>Get_Facility_WiFi_Info {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Agent_Create_Maintenance_WorkOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service</name>
        <label>민원 생성</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>Find_Asset.Home_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>var_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[{!var_Location}] {!var_Issue}]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>var_CaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>UniqueName</name>
        <label>작업 지시 생성</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Find_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>var_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>var_VisitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>var_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>var_CaseType</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Schedule</name>
        <label>기존 스케줄 확인</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Time_Slot_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VisitTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Asset</name>
        <label>자산 찾기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>연락처 찾기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Put_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_BranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_OfficeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Branch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VisitTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
