force-app/main/default/flows/Make_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Collect</name>
        <label>컬렉션에 추가</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Asset_Collection_Variable3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset_Record_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>자산 업데이트 변수 할당</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record_Variable.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contract_Draft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collect</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>계약서 자동생성 플로우 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[자동화] 계약 - 계약서 생성</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>견적 세부 항목 반복</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Draft</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract_Draft</name>
        <label>계약 초안 생성</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Related_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Lookup_Temp__c</field>
            <value>
                <elementReference>Asset_Record_Variable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Cycle__c</field>
            <value>
                <elementReference>$Record.Main_Billing_Cycle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Account__c</field>
            <value>
                <elementReference>$Record.Branch_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId__c</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>$Record.Special_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Deposit_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Deposit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Payment_Amount__c</field>
            <value>
                <elementReference>Get_Current_Quote.GrandTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>그랜드토탈때문</description>
        <name>Get_Current_Quote</name>
        <label>현재 견적 다시 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>견적 세부 항목 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Assets</name>
        <label>자산 일괄 업데이트</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Asset_Collection_Variable3</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Asset_Collection_Variable2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Asset_Collection_Variable3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Asset_Record_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
