force-app/main/default/flows/UniqueName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Office_Info</name>
        <label>Add Office Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_OfficeListText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Offices.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OfficeListText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Offices.Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OfficeListText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Offices.Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Offices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Output</name>
        <label>Set Final Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OfficeListText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>임시 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Find Office Assets</label>
    <loops>
        <name>Loop_Offices</name>
        <label>Loop Offices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Offices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Office_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Final_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Offices</name>
        <label>Get Offices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Offices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>userQuery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Offices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OfficeListText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
